$BlueNavy: #10376B;
$fontText: 'Montserrat';
$extra-small-screen: 600px;
$small-screen: 830px;
$medium-screen: 1024px;
$large-screen: 1440px;
$large-extra-screen: 1800px;


.allResults {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;



    .eventYearList {
        display: flex;
        gap: 25px;
        color: rgb(12, 32, 58);
        padding-left: 70px;

        img {
            margin-top: 15px;
            height: 60px;
        }

        .eventTitle {
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 22px;
            }

            p {
                font-size: 19px;
            }
        }




    }


    .eventRight {
        max-width: 1000px;
        width: 100%;
        position: relative;
        z-index: 2;

        h2 {
            position: absolute;
            top: 3%;
            left: 25%;
            z-index: 1;
            color: white;
            font-size: 75px;
            font-weight: 500;
        }

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            opacity: 80%;
            min-width: 400px;
        }
    }

    .yearList {
        .eventLeft {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }

        .personnage:hover {
            background-color: rgb(34, 50, 71);
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        }

        .personnage {
            max-width: 2000px;
            display: flex;
            gap: 30px;
            background-color: rgb(12, 32, 58);
            border-radius: 5px;
            color: #F6F6F6;
            min-height: 620px;
            padding: 5px;

            h3 {
                font-family: "inconsolata";
                font-weight: 500;
                font-size: 20px;
            }


            .personnageTxt {
                display: flex;
                flex-direction: column;
                font-size: 16px;
                max-width: 80%;
            }



            .personnagePhoto {

                img {
                    width: 100%;
                    object-fit: cover;
                    height: 620px;
                    opacity: 90%;
                    border-radius: 5px;
                }
            }

            .mediaLinks {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                font-family: "inconsolata";
                font-size: 18px;

                button {
                    border: none;
                    border-radius: 10px;
                    background-color: #b8872e;
                    padding: 10px;
                    color: antiquewhite;
                    font-size: 16px;
                    width: 50%;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                    cursor: pointer;
                }

                button:hover {
                    background-color: rgb(15, 28, 46);
                }
            }
        }
    }


}

@media (max-width: $large-screen) {

    .allResults {
        .yearList {
            .eventYearList {
                padding-left: 0px;

                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 18px;
                }
            }
        }

        .eventRight {
            h2 {
                top: 18%;
                left: 15%;
                font-size: 48px;
            }

            img {
                min-width: 250px;
            }
        }
    }
}

@media (max-width: $medium-screen) {
    .allResults {
        .eventRight {
            h2 {
                font-size: 45px;
                left: 10%;
            }

           
        }

        .yearList {
            .eventLeft {
                .eventYearList {
                    padding-left: 0;

                    .eventTitle {
                        display: flex;
                        flex-direction: column;
                        font-size: 16px;
                    }

                    img {
                        margin-top: 15px;
                    }
                }


                .personnage {
                    gap: 20px;

                    h3 {
                        font-weight: 600;
                        font-size: 18px;
                    }


                    .personnageTxt {
                        font-size: 13px;
                        max-width: 70%;
                    }

                    .mediaLinks {
                        font-size: 14px;

                        button {
                            padding: 6px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

}


@media (max-width: $small-screen) {

    .allResults {
        flex-direction: column-reverse;

        .yearList {
            .eventLeft {
                height: min-content;
            }

            .eventYearList {
                display: flex;
                flex-direction: column;
                padding-left: 0px;

                p {
                    font-size: 16px;
                }

                img {
                    display: none;
                }
            }


            .personnage {
                padding-bottom: 10px;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                min-height: max-content;
                margin-bottom: 10%;

                .personnagePhoto {
                    width: 95%;

                    img {
                        height: 400px;
                        object-fit: cover;
                    }
                }

                .mediaLinks {
                    align-items: center;

                    button {
                        width: 80%;
                    }
                }
            }
        }

        .eventRight {

            h2 {
                top: 18%;
                left: 14%;
                font-size: 40px;
            }

            img {
                height: 200px;
                min-width: none;
                width: 100%;
            }
        }
    }
}

@media (max-width: $extra-small-screen ) {

    .allResults {
        .yearList {
            .eventLeft {
                height: min-content;
            }

            .eventRight {

                h2 {
                    top: 15%;
                    left: 15%;
                    font-size: 35px;
                }

                img {
                    height: 200px;
                    min-width: none;
                    width: 100%;
                }
            }

        }
    }
}