$blackColor: #000000;
$BlueNavy: #10376B;
$galleryColor: #F6F6F6;
$fontText: 'Montserrat';

.FooterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    nav {



        ul {
            font-family: $fontText;
            display: flex;
            gap: 150px;
            font-size: 24px;
            font-weight: 700;
            list-style: none;

            li {
                display: inline-block;
                text-align: right;
            }

            a {
                display: block;
                padding: 6px 12px;
                text-decoration: none;
                color: $BlueNavy
            }

            a:focus {
                text-decoration: underline;
            }

        }
    }
}

@media (max-width: 1024px) {

    .FooterContainer {
        nav {
            ul {
                font-size: 20px;
            }
        }
    }

}

@media (max-width: 768px) {

    .FooterContainer {

        h1 img {
            max-width: 190px;
        }



        nav {


            ul {
                text-transform: uppercase;
                font-size: 11.5px;
                gap: 20px;
                font-weight: 500;
                padding: 0;

                a {
                    padding: 0;
                }


            }
        }
    }

}