$blackColor: #000000;
$BlueNavy: #10376B;
$galleryColor: #F6F6F6;
$fontText: 'Montserrat';
$extra-small-screen: 600px;
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1440px;
$large-extra-screen: 1800px;



footer {

    display: flex;
    flex-direction: column;
    align-items: center;

    .footerContainer {
        background-color: white;

    }

    nav {

        ul {
            display: flex;
            gap: 150px;
            font-size: 24px;
            font-weight: 700;
            list-style: none;

            a {
                display: block;
                padding: 6px 12px;
                text-decoration: none;
                color: $BlueNavy
            }

            a:focus {
                text-decoration: underline;
            }

        }
    }
}

@media (max-width: $medium-screen) {
    footer {
        nav {
            ul {
                font-size: 20px;
            }
        }
    }

}

@media (max-width:$small-screen) {

    footer {
        position: static;

        nav {
            ul {
                text-transform: uppercase;
                font-size: 11.5px;
                gap: 20px;
                font-weight: 500;

                a {
                    padding: 0;
                }


            }
        }
    }

}

@media (max-width:$extra-small-screen) {
    footer {
        nav {
            padding-top: 30px;

            ul {
                gap: 20px;
            }
        }
    }
}