$blackColor: #000000;
$BlueNavy: #10376B;
$galleryColor: #F6F6F6;
$extra-small-screen: 576px;



.Header {
    display: flex;
    justify-content: center;

    h1 img {
        margin: 0;
        padding: 0;
        max-width: 230px;
    }
}

@media (max-width: $extra-small-screen) {

    .Header {

        h1 img {
            width: 90px;
        }
    }

}