$extra-small-screen: 600px;
$fontText: 'Montserrat';



body {
  margin: 30px;
  font-family: $fontText;
  display: flex;
  flex-direction: column;
  height: max-content
}


@media (max-width: $extra-small-screen) {

  body {
    margin: 10px;
    ;

  }
}